.workouts-btns-and-elements {
  //   border: 1px solid;
  .workouts-btns-and-elements-three-btns {
    margin: 25px;
    .btn1,
    .btn2,
    .workouts-section-filter-btn {
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
  }
  .workouts-btns-and-elements-msg {
    span {
      font-size: 12px;
      font-family: "Mulish";
      color: rgba(255, 0, 0, 0.66);
    }
  }
  .workouts-btns-and-elements-categ-btns-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    // border: 1px solid;
    // padding-left: 45px;
    &.grp1 {
      margin: 25px;
    }
    &.grp2 {
      margin-bottom: 70px;
    }
    .workouts-btns-and-elements-categ-btn-elem {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 5px 25px;
    }
  }
  .showItemsAsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 30px 20px;
  }
}
.filtered-results-notification {
  //  position: relative;
  margin-left: 400px;
  .ant-alert-filtered {
    padding: 25px 10px;
    position: relative;
    bottom: 0px;
    .noti-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;

      .noti-text {
        font-family: "Poppins";
        font-weight: 600;
      }
    }
  }
}
