//defining screen breakpoints for responsivness
$x-small: 0px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1400px;
@mixin text_btn_styles {
  font-family: "Inconsolata";
  font-size: 17px;
  text-transform: initial;
  letter-spacing: 1.4px;
  color: white;
  font-weight: bold;
}
@mixin text_btn_styles_2 {
  font-family: "Poppins";
  font-size: 20px;
  text-transform: initial;
  letter-spacing: 2px;
  color: white;
  font-weight: 300;
  // font-style: italic;
}
.workouts-list-and-btns-container {
  .filtered-results-notification {
    margin-left: 400px;
    .ant-alert-filtered {
      padding: 25px 10px;
      position: relative;
      top: 20px;
      z-index: 999;
      .noti-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;

        .noti-text {
          font-family: "Poppins";
          font-weight: 600;
        }
      }
    }
  }
  .workouts-btns-and-elements {
    .workouts-btns-and-elements-three-btns {
      margin: 25px;
      .btn1,
      .btn2,
      .workouts-section-filter-btn {
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
      }
    }
    .no_workout {
      span {
        font-family: "Poppins";
        font-size: 20px;
      }
    }
    .workouts-btns-and-elements-categ-btns-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      &.grp1 {
        margin: 25px;
      }
      &.grp2 {
        margin-bottom: 70px;
      }
      .workouts-btns-and-elements-categ-btn-elem {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 5px 25px;
      }
    }
    .all-existent-workouts-as-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      margin: 30px 20px;
    }
  }
  @media screen and (min-width: $large) and (max-width: $x-large) {
    .workouts-btns-and-elements-categ-btns-wrapper {
      &.grp1 {
        margin: 5px !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin-bottom: 15px !important;
      }
      &.grp2 {
        margin-bottom: 70px;
        margin-right: 150px;
      }
      .workouts-btns-and-elements-categ-btn-elem {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 5px 25px;
      }
    }
    .all-existent-workouts-as-grid {
      display: grid;
      grid-template-columns: 250px 250px 250px !important;
      gap: 20px;
      margin: 30px 20px;
    }
  }

  @media screen and (min-width: $medium) and (max-width: $large) {
    .workouts-btns-and-elements-categ-btns-wrapper {
      &.grp1 {
        margin: 5px !important;
        display: grid;
        grid-template-columns: 200px 200px 200px;
        gap: 15px;
        margin-bottom: 15px !important;
      }
      &.grp2 {
        margin-bottom: 70px;
        margin-right: 150px;
      }
    }
    .all-existent-workouts-as-grid {
      display: grid;
      grid-template-columns: 250px 250px 250px !important;
      gap: 20px;
      margin: 30px 20px;
    }
  }
  @media screen and (min-width: 850px) and (max-width: $large) {
    .all-existent-workouts-as-grid {
      display: grid;
      grid-template-columns: 290px 290px !important;
    }
  }
  @media screen and (min-width: $medium) and (max-width: 850px) {
    .all-existent-workouts-as-grid {
      display: grid;
      grid-template-columns: 230px 230px !important;
    }
  }
  @media screen and (max-width: 905px) {
    .workouts-btns-and-elements-categ-btns-wrapper {
      &.grp1 {
        .workouts-btns-and-elements-categ-btn-elem {
          &.filter-btn1 {
            position: relative;
            right: 70px;
          }
          &.filter-btn2 {
            position: relative;
            right: 150px;
          }
        }
      }
      &.grp2 {
        .workouts-btns-and-elements-categ-btn-elem {
          &.filter-btn7 {
            position: relative;
            right: 30px;
          }
          &.filter-btn8 {
            position: relative;
            right: 60px;
          }
          &.filter-btn9 {
            position: relative;
            right: 90px;
          }
        }
      }
    }
  }
  @media screen and (min-width: $large) and (max-width: $x-large) {
    .workouts-btns-and-elements-categ-btns-wrapper {
      &.grp1 {
        .workouts-btns-and-elements-categ-btn-elem {
          &.filter-btn1 {
            position: relative;
            right: 70px;
          }
          &.filter-btn2 {
            position: relative;
            right: 150px;
          }
        }
      }
      &.grp2 {
        .workouts-btns-and-elements-categ-btn-elem {
          &.filter-btn7 {
            position: relative;
            right: 30px;
          }
          &.filter-btn8 {
            position: relative;
            right: 60px;
          }
          &.filter-btn9 {
            position: relative;
            right: 90px;
          }
        }
      }
    }
  }
}

.profile-edit-btn {
  height: fit-content !important;
  padding: 5px 12px !important;
  margin-right: 15px !important;
  background: rgba(94, 144, 175, 0.65) !important;

  span {
    @include text_btn_styles();
  }
  @media screen and (min-width: 400px) and (max-width: 700px) {
    height: fit-content !important;
    padding: 5px 12px !important;
    margin-right: 15px !important;
    background: rgba(128, 128, 128, 0.66) !important;

    span {
      @include text_btn_styles_2();
    }
  }
}
.profile-edit-btn-small {
  height: fit-content !important;
  padding: 2px !important;
  img {
    width: 38px !important;
    height: 38px !important;
  }
}
//
.x_icon-btn {
  height: fit-content !important;
  padding: 0 !important;
  .x_icon {
    width: 55px;
    height: 55px;
  }
}
.form-filter-btn-plus-btn {
  padding: 10px !important;
  background: rgba(211, 211, 211, 0.3) !important;
  height: fit-content !important;
  padding: 5px 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  &:hover {
    background: rgba(211, 211, 211, 0.5) !important;
  }
  img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
  span {
    white-space: normal;
  }
}
