@import "@fontsource/inconsolata";
@import "@fontsource/mulish";

.site-drawer-render-in-current-wrapper {
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 2px;
}

.workout-details-container-as-list {
  background-color: white;
  margin-bottom: 20px;

  &.black-border-selected {
    border: 1.5px solid black;
  }
  .work-details-left-content {
    .work-details-left-content-inner {
      border-radius: 4px;
      margin: 20px auto;
      padding: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      h4 {
        margin: 0 0 10px 0;
        font-size: 1.6em;
        color: var(--primary);
        font-weight: bolder;
      }

      span {
        margin: 0;
        font-size: 1.15em;
        color: #555;
      }
    }
  }
  .work-details-right-content {
    margin-top: 12px;
    margin-right: 12px;
    border-bottom: 1px solid #9f2241; /* This creates the border. */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon-btn-edit {
      .edit-img {
        width: 24px;
        height: 24px;
        color: gray;
      }
    }
  }
}

.workout-details-container-as-grid {
  &:hover {
  }
  .workout-details {
    min-height: 264px;
    justify-content: center;
    align-items: center;

    .work-details-left-content {
      display: flex;
      justify-content: center;
      align-items: center;

      .work-details-left-content-inner {
        margin: 0;
        padding: 0;
        .work-details-left-inner-iconbtn {
          display: none;
        }

        h4 {
          margin: 0 0 10px 0;
          font-size: 1.2em;
          color: #00b4d8;
          font-weight: bolder;
        }
        .work-details-left-inner-load {
          .work-details-left-inner-load-span1 {
            margin-right: 5px;
            span.span1-kg {
              font-style: italic;
              font-family: "Inconsolata";
            }
          }
          .work-details-left-inner-load-span2 {
            font-size: 2em;
            color: #555;
          }
        }
        .work-details-left-inner-reps {
          .work-details-left-inner-reps-span1 {
            margin-right: 5px;
            span.span1-kg {
              font-style: italic;
            }
          }
          .work-details-left-inner-reps-span2 {
            font-size: 2em;
            color: rgba(85, 85, 85, 0.8);
          }
        }
        .work-details-left-inner-date {
          // border: 1px solid red;
          margin: 0 auto;
          span {
            font-family: "Inconsolata";
            font-size: 1.5em;
          }
        }
      }
    }
    .work-details-right-content {
      height: fit-content;
      margin-top: 0px;
      margin-right: 12px;
      border-bottom: none;

      .work-details-right-inner {
        &.control-btns {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
        }
      }
      .work-details-right-inner-iconbtn {
        // border: 1px solid red;
      }
      .icon-btn-edit {
        .edit-img {
          width: 24px;
          height: 24px;
          color: gray;
        }
      }
    }
  }
}

.border-selected {
  border: 3px solid rgb(230, 161, 161);
  border-radius: 5px;
  padding: 5px 15px;
}

.workout-details-drawer {
  &.ant-drawer {
    &.ant-drawer-open {
      .ant-drawer-wrapper-body {
        .ant-drawer-header {
          .ant-drawer-close {
            .anticon {
              &.anticon-close {
                &:hover {
                  transform: scale(1.5);
                }
              }
            }
          }
        }
        .ant-drawer-body {
          .workout-details-imgs {
            img {
              width: 64px;
              height: 64px;
              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }
}

.pagination-content-loaded {
  .ant-pagination-item a {
    color: #1890ff;
    font-size: 30px;
  }
  .ant-pagination-item {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.ant-pagination-item-active {
      background-color: #188fff15;
    }
  }
  .ant-pagination-prev,
  .ant-pagination-next {
    width: 54px;
    height: 54px;
  }
  .anticon-left,
  .anticon-right {
    transform: scale(1.5);
  }
}

.workout-details-container0,
.workout-details-container1,
.workout-details-container2 {
  .ant-drawer-content-wrapper {
    &.ant-drawer-content-wrapper-hidden {
    }
  }
}

// box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.changeBGColor {
  background-color: rgba(168, 228, 250, 0.18);
}

.workout-infos-drawer {
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      .ant-drawer-wrapper-body {
        .ant-drawer-body {
          &::-webkit-scrollbar {
            width: 15px;
          }
          &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: rgba(161, 160, 160, 0.05);
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background: rgba(0, 0, 0, 0.2);
          }
          &::-webkit-scrollbar-thumb:hover {
            border-radius: 10px;
            background: rgba(23, 22, 22, 0.44);
          }
        }
      }
    }
  }
}
