@import "@fontsource/open-sans";
// font-family: PlusJakartaSans,,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;

.chest-workout-form-container {
  position: relative;

  .chest-suggest-btns {
    position: relative;
    right: 30px;
    margin-top: 20px;
  }

  .chest-workouts-form {
    border: 0.5px solid lightgray;
    margin-top: -30px;
    padding: 40px;
    border-radius: 5px;

    .chest-workouts-form-inner {
      label,
      input {
        display: block;
      }

      input {
        &.form-msg-error {
          border: 1px solid var(--error);
        }
      }
      .close-icon-container {
        position: relative;
        bottom: 60px;
        left: 240px;
      }
      button.chest-form-btn {
        background: var(--primary);
        border: 0;
        color: #fff;
        padding: 10px;
        font-family: "Poppins";
        border-radius: 4px;
        cursor: pointer;
      }
    }
    div.error-msg-container {
      display: inline-block;

      div.form-msg-error {
        padding: 5px 8px;
        background: #ffefef;
        border: 1px solid var(--error);
        color: var(--error);
        border-radius: 4px;
        margin: 20px 0;
      }
      div.error-msg-modal {
        padding: 5px 8px;
        color: var(--error);
        border-radius: 4px;
        margin: 20px 0;
        letter-spacing: 2.8px;
        font-size: 16px;
        font-family: "Open Sans";
        // color: rgb(74, 72, 73);
      }
    }
  }
  .toggle-form-btn {
    float: right;
    position: relative;
    // bottom: 10px;

    .up-btn-link {
      &:hover {
        transform: scale(1.04);
      }
      .up-svg-icon {
        fill: grey;
      }
    }
    &.toggle-form-btn-modal {
      position: relative;
      bottom: 80px;
      left: 60px;
    }
  }
}

.ant-input-affix-wrapper {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.classAdded {
  color: red;
}

//font size of placeholders
.ant-input {
  font-size: 12px;
}
.anticon {
  &.anticon-close-circle {
    &:hover {
      transform: scale(1.5);
    }
  }
}

.chest-form-ant-modal {
  padding: 60px;

  .ant-modal-content {
    position: relative;
    bottom: 130px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 650px;
    background: #f5f5f5;
    border: 5px solid darkgray;
    &::-webkit-scrollbar {
      width: 15px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(161, 160, 160, 0.05);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.2);
    }
    &::-webkit-scrollbar-thumb:hover {
      border-radius: 10px;
      background: rgba(23, 22, 22, 0.44);
    }

    .ant-modal-header {
    }
    .ant-modal-body {
      padding: 60px;
    }
  }
}

.d_flex {
  display: flex;
  justify-content: center;
  transform: scale(1.15);
  margin-top: 15px;
}
