@import "@fontsource/open-sans";
// font-family: PlusJakartaSans,,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;
//defining screen breakpoints for responsivness
$x-small: 0px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1400px;

.chest-workout-form-container {
  .chest-workouts-form {
    border: 0.5px solid lightgray;
    margin-top: -30px;
    padding: 40px;
    border-radius: 5px;

    .chest-workouts-form-inner {
      label,
      input {
        display: block;
      }

      input {
        &.form-msg-error {
          border: 1px solid var(--error);
        }
      }
      .close-icon-container {
        position: relative;
        bottom: 60px;
        left: 240px;
      }
      .chest-form-btns {
        display: flex;
        align-items: center;
        gap: 10px;
        button.chest-form-btn {
          background: var(--primary);
          border: 0;
          color: #fff;
          padding: 10px;
          font-family: "Poppins";
          border-radius: 4px;
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
          }
        }
        .chest-form-reset-btn {
          height: fit-content;
          &:hover {
            transform: scale(1.05);
          }
          img {
            width: 35px;
            height: 35px;
          }
        }
      }
      .form-select-exo-title-and-info-icon {
        margin-top: 15px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .ant-select-selector {
          .ant-select-selection-item {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .form-select-label-and-select-component {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .form-select-exo-title-label {
            font-family: "Inconsolata";
            font-size: 18px;
          }
          .form-select-exo-title {
          }
          &.move-from-right {
            margin-right: 20px;
          }
        }

        .form-select-exo-title-info-btn {
          .form-select-exo-title-info-btn-icon {
            width: 20px;
            height: 20px;
          }
        }
      }
      .form-select-exo-categ-label-and-select-component {
        .form-select-exo-categ-label {
          font-family: "Inconsolata";
          font-size: 18px;
          margin: 15px 0;
        }
        .ant-select-selector {
          .ant-select-selection-item {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .form-select-exo-categ {
        }
      }
      .form-title-label-and-input-component {
        display: flex;
        align-items: center;
        .form-input-title-and-label-wrapper {
          .form-input-title-component {
            width: 242px;
          }
          .form-title-label {
            font-family: "Inconsolata";
            font-size: 18px;
          }
        }
        .form-input-title-icon-btn-wrapper {
          .form-input-title-icon-btn {
            margin-left: 10px;
            .form-input-title-list-icon {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
      .form-load-label-and-load-input-component {
        .form-input-load-component {
          width: 242px;
        }
        .form-load-label {
          font-family: "Inconsolata";
          font-size: 18px;
          margin-top: 10px;
        }
      }
      .form-reps-label-and-reps-input-component {
        .form-input-reps-component {
          width: 242px;
        }
        .form-reps-label {
          font-family: "Inconsolata";
          font-size: 18px;
        }
      }
    }
    div.error-msg-container {
      display: inline-block;

      div.form-msg-error {
        padding: 5px 8px;
        background: #ffefef;
        border: 1px solid var(--error);
        color: var(--error);
        border-radius: 4px;
        margin: 20px 0;
      }
      div.error-msg-modal {
        padding: 5px 8px;
        color: var(--error);
        border-radius: 4px;
        margin: 20px 0;
        letter-spacing: 2.8px;
        font-size: 16px;
        font-family: "Open Sans";
        // color: rgb(74, 72, 73);
      }
    }
  }
  .workouts-form-allExistentWorkouts {
    .chest-workouts-form-inner {
      .form-filter-btn-plus-btn {
        padding: 10px;
        background: rgba(211, 211, 211, 0.3);
        &:hover {
          background: rgba(211, 211, 211, 0.5);
        }
        img {
          width: 25px;
          height: 25px;
          margin-right: 15px;
        }
      }
      .form-filter-h3 {
      }
    }
  }
  .toggle-form-btn {
    float: right;
    position: relative;

    .up-btn-link {
      height: fit-content !important;
      &:hover {
        transform: scale(1.04);
      }
      .up-svg-icon {
        fill: grey;
      }
    }
    &.toggle-form-btn-modal {
      position: relative;
      bottom: 80px;
      left: 60px;
    }
  }
  @media screen and (min-width: $x-large) and (max-width: $xx-large) {
    margin-right: 70px;
    width: 400px;
    .toggle-form-btn {
      &.toggle-form-btn-modal {
        position: relative;
        bottom: 80px;
        left: 60px;
      }
    }
    .chest-workouts-form {
      padding: 60px;
      margin-top: 180px;

      .chest-workouts-form-inner {
        .form-select-exo-categ-label-and-select-component {
          .form-select-exo-categ {
            width: 250px !important;
          }
          .ant-select-selector {
            height: 50px;
            .ant-select-selection-item {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        .form-select-exo-title-and-info-icon {
          .form-select-label-and-select-component {
            .form-select-exo-title {
              width: 250px !important;
            }
            .ant-select-selector {
              height: 50px;
              .ant-select-selection-item {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }

          .form-select-exo-title-info-btn {
            .form-select-exo-title-info-btn-icon {
              width: 15px;
              height: 15px;
              // border: 1px solid red;
            }
          }
        }
        .form-title-label-and-input-component {
          .form-input-title-and-label-wrapper {
            .form-input-title-component {
              width: 250px !important;
              height: 50px;
            }
          }
          .form-input-title-icon-btn-wrapper {
            .form-input-title-icon-btn {
              .form-input-title-list-icon {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
        .form-load-label-and-load-input-component {
          .form-input-load-component {
            width: 250px !important;
            height: 50px;
          }
        }
        .form-reps-label-and-reps-input-component {
          .form-input-reps-component {
            width: 250px !important;
            height: 50px;
          }
          .form-reps-label {
            // border: 1px solid red;
            font-family: "Inconsolata";
            font-size: 18px;
            display: inline-block;
          }
        }
        .form-reps-label,
        .form-load-label,
        .form-title-label,
        .form-select-exo-categ-label,
        .form-select-exo-title-label {
          font-family: "Inconsolata";
          font-size: 18px;
          display: inline-block;
        }
        button.chest-form-btn {
          padding: 15px 15px;
          font-family: "Karla";
          border-radius: 4px;
          background: #1aac83d7;
          &:hover {
            background: #1aac83;
          }
          span {
            font-size: 20px;
          }
        }
      }
      div.error-msg-container {
        display: inline-block;
      }
      // styles applied to the form, when the user clicks on the 3rd icon, underneath the search input
      &.workouts-form-allExistentWorkouts {
        padding: 5px;
        margin-top: 30px;
        position: relative;
        right: 30px;
        max-width: 130px;
        .chest-workouts-form-inner {
          &:hover {
            img {
              translate: 3px;
              transition: 0.6s ease;
            }
          }
          .form-filter-btn-plus-btn {
            max-width: 120px;
            // border: 1px solid red;
            span {
              display: inline-block;
            }
            padding: 0px;
            background: rgba(211, 211, 211, 0.4);
            &:hover {
              background: rgba(211, 211, 211, 0.6);
            }
            img {
              width: 20px;
              height: 20px;
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 700px) and (max-width: $x-large) {
    width: 300px;
    margin-right: 70px;

    .toggle-form-btn {
      &.toggle-form-btn-modal {
      }
    }
    .chest-workouts-form {
      padding: 40px;
      margin-top: 260px;

      .chest-workouts-form-inner {
        .form-select-exo-categ-label-and-select-component {
          // border: 1px solid red;
          .form-select-exo-categ {
            width: 190px !important;
          }
          .ant-select-selector {
            height: 50px;
          }
        }
        .form-select-exo-title-and-info-icon {
          .form-select-label-and-select-component {
            .form-select-exo-title {
              width: 190px !important;
            }
            .ant-select-selector {
              height: 50px;
            }
          }
        }
        .form-title-label-and-input-component {
          .form-input-title-and-label-wrapper {
            .form-input-title-component {
              width: 190px !important;
              height: 50px;
            }
          }
          .form-input-title-icon-btn-wrapper {
            .form-input-title-icon-btn {
              .form-input-title-list-icon {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
        .form-load-label-and-load-input-component {
          .form-input-load-component {
            width: 190px !important;
            height: 50px;
          }
        }
        .form-reps-label-and-reps-input-component {
          .form-input-reps-component {
            width: 190px !important;
            height: 50px;
          }
          .form-reps-label {
            font-family: "Inconsolata";
            font-size: 18px;
            display: inline-block;
          }
        }

        button.chest-form-btn {
          padding: 15px 15px;
          font-family: "Mulish";
          border-radius: 4px;
          background: #1aac83d7;
          &:hover {
            background: #1aac83;
          }
          span {
            font-size: 20px;
          }
        }
      }
      div.error-msg-container {
        display: inline-block;
      }
      // styles applied to the form, when the user clicks on the 3rd icon, underneath the search input
      &.workouts-form-allExistentWorkouts {
        // border: 10px solid red;
        padding: 5px;
        margin-top: 30px;
        position: relative;
        right: 30px;
        max-width: 130px;
        .chest-workouts-form-inner {
          &:hover {
            img {
              translate: 3px;
              transition: 0.6s ease;
            }
          }
          .form-filter-btn-plus-btn {
            max-width: 120px;
            // border: 1px solid red;
            span {
              display: inline-block;
            }
            padding: 0px;
            background: rgba(211, 211, 211, 0.4);
            &:hover {
              background: rgba(211, 211, 211, 0.6);
            }
            img {
              width: 20px;
              height: 20px;
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 350px) and (max-width: 700px) {
    width: 300px;
    margin-right: 70px;

    .chest-workouts-form {
      padding: 40px;
      margin-top: 260px;

      .chest-workouts-form-inner {
        .form-select-exo-categ-label-and-select-component {
          .form-select-exo-categ {
            width: 190px !important;
          }
          .ant-select-selector {
            height: 50px;
          }
        }
        .form-select-exo-title-and-info-icon {
          .form-select-label-and-select-component {
            .form-select-exo-title {
              width: 190px !important;
            }
            .ant-select-selector {
              height: 50px;
            }
          }
        }
        .form-title-label-and-input-component {
          .form-input-title-and-label-wrapper {
            .form-input-title-component {
              width: 190px !important;
              height: 50px;
            }
          }
          .form-input-title-icon-btn-wrapper {
            .form-input-title-icon-btn {
              .form-input-title-list-icon {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
        .form-load-label-and-load-input-component {
          .form-input-load-component {
            width: 190px !important;
            height: 50px;
          }
        }
        .form-reps-label-and-reps-input-component {
          .form-input-reps-component {
            width: 190px !important;
            height: 50px;
          }
          .form-reps-label {
            font-family: "Inconsolata";
            font-size: 18px;
            display: inline-block;
          }
        }

        button.chest-form-btn {
          padding: 15px 15px;
          font-family: "Mulish";
          border-radius: 4px;
          background: #1aac83d7;
          &:hover {
            background: #1aac83;
          }
          span {
            font-size: 20px;
          }
        }
      }
      div.error-msg-container {
        display: inline-block;
      }
      // styles applied to the form, when the user clicks on the 3rd icon, underneath the search input
      &.workouts-form-allExistentWorkouts {
        // border: 10px solid red;
        padding: 5px;
        margin-top: 30px;
        position: relative;
        right: 30px;
        max-width: 130px;
        .chest-workouts-form-inner {
          &:hover {
            img {
              translate: 3px;
              transition: 0.6s ease;
            }
          }
          .form-filter-btn-plus-btn {
            max-width: 120px;
            // border: 1px solid red;
            span {
              display: inline-block;
            }
            padding: 0px;
            background: rgba(211, 211, 211, 0.4);
            &:hover {
              background: rgba(211, 211, 211, 0.6);
            }
            img {
              width: 20px;
              height: 20px;
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 0px) and (max-width: 350px) {
    width: 300px;
    margin-right: 70px;
    border: 1px solid red;

    .chest-workouts-form {
      padding: 40px;
      margin-top: 260px;

      .chest-workouts-form-inner {
        .form-select-exo-categ-label-and-select-component {
          .form-select-exo-categ {
            width: 190px !important;
          }
          .ant-select-selector {
            height: 50px;
          }
        }
        .form-select-exo-title-and-info-icon {
          .form-select-label-and-select-component {
            .form-select-exo-title {
              width: 190px !important;
            }
            .ant-select-selector {
              height: 50px;
            }
          }
        }
        .form-title-label-and-input-component {
          .form-input-title-and-label-wrapper {
            .form-input-title-component {
              width: 190px !important;
              height: 50px;
            }
          }
          .form-input-title-icon-btn-wrapper {
            .form-input-title-icon-btn {
              .form-input-title-list-icon {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
        .form-load-label-and-load-input-component {
          .form-input-load-component {
            width: 190px !important;
            height: 50px;
          }
        }
        .form-reps-label-and-reps-input-component {
          .form-input-reps-component {
            width: 190px !important;
            height: 50px;
          }
          .form-reps-label {
            font-family: "Inconsolata";
            font-size: 18px;
            display: inline-block;
          }
        }

        button.chest-form-btn {
          padding: 15px 15px;
          font-family: "Mulish";
          border-radius: 4px;
          background: #1aac83d7;
          &:hover {
            background: #1aac83;
          }
          span {
            font-size: 20px;
          }
        }
      }
      div.error-msg-container {
        display: inline-block;
      }
      // styles applied to the form, when the user clicks on the 3rd icon, underneath the search input
      &.workouts-form-allExistentWorkouts {
        // border: 10px solid red;
        padding: 5px;
        margin-top: 30px;
        position: relative;
        right: 30px;
        max-width: 130px;
        .chest-workouts-form-inner {
          &:hover {
            img {
              translate: 3px;
              transition: 0.6s ease;
            }
          }
          .form-filter-btn-plus-btn {
            max-width: 120px;
            // border: 1px solid red;
            span {
              display: inline-block;
            }
            padding: 0px;
            background: rgba(211, 211, 211, 0.4);
            &:hover {
              background: rgba(211, 211, 211, 0.6);
            }
            img {
              width: 20px;
              height: 20px;
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
}
.chest-suggest-btns {
  position: relative;
  right: 30px;
  margin-top: 20px;
}

.ant-input-affix-wrapper {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.classAdded {
  color: red;
}

//font size of placeholders
.ant-input {
  font-size: 12px;
}
.anticon {
  &.anticon-close-circle {
    &:hover {
      transform: scale(1.5);
    }
  }
}

.chest-form-ant-modal {
  padding: 60px;

  .ant-modal-content {
    position: relative;
    bottom: 130px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 650px;
    background: #f5f5f5;
    border: 5px solid darkgray;
    &::-webkit-scrollbar {
      width: 15px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(161, 160, 160, 0.05);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.2);
    }
    &::-webkit-scrollbar-thumb:hover {
      border-radius: 10px;
      background: rgba(23, 22, 22, 0.44);
    }

    .ant-modal-header {
    }
    .ant-modal-body {
      padding: 60px;
    }
  }
}

.d_flex {
  display: flex;
  justify-content: center;
  transform: scale(1.15);
  margin-top: 15px;
}

.notification {
  .ant-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 490px;
    position: relative;
    bottom: 40px;
    padding: 15px 30px;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
  }
  span {
    font-family: "Sofia Pro";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 0px;
    letter-spacing: 1.5px;
    color: black;
    text-transform: initial;
    &::first-letter {
      text-transform: capitalize;
    }
  }
  span.noti-text {
    position: relative;
    top: 2px;
    margin-left: 5px;
  }
}
