@mixin d_flex_column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin d_flex_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 26px;
  color: rgba(38, 80, 164, 0.753);
}
@mixin label_styles {
  font-family: "Mulish";
  font-size: 24px;
  font-weight: 900;
  color: rgba(74, 174, 174, 0.876);
  letter-spacing: 1.5px;
}
@mixin input_text_styles {
  font-family: "Mulish";
  font-size: 22px !important;
  color: rgba(35, 90, 90, 0.876);
  letter-spacing: 1.5px;
}
@mixin ant_btn_styles {
  height: fit-content;
  background: none;
  border: none;
  // display:none;
}
@mixin modal_styles {
  padding: 0;
  margin: 0 auto;
  margin-top: 80px;
}

// when the viewport width is less than 800px
.workouts-mobile-form {
  .workouts-mobile-form-inner {
    .mobile-form-select-exo-categ-label-and-select-component {
      @include d_flex_column();
      gap: 10px;
      .mobile-form-select-exo-categ-label {
        @include label_styles();
      }
      .mobile-form-select-exo-categ-icon-and-select {
        @include d_flex_row();
        gap: 10px;
        width: 100%;

        img {
          height: 30px;
        }
        .mobile-form-exo-categ-select {
          width: 60% !important;

          .ant-select-selector {
            height: 50px;
            .ant-select-selection-item {
              @include d_flex_row();
            }
          }
        }
      }
    }
    .mobile-form-select-exo-title-and-info-icon {
      .mobile-form-title-select-label-and-component {
        @include d_flex_column();
        gap: 10px;
        .info-icon-and-title-label-wrapper {
          @include d_flex_row();
          margin-top: 20px;

          .mobile-form-title-select-label {
            @include label_styles();
          }
          .mobile-form-select-exo-title-info-btn {
            @include ant_btn_styles();

            img.mobile-form-select-exo-title-info-btn-icon {
              width: 30px;
              height: 30px;
            }
          }
        }

        .mobile-form-select-exo-title-icon-and-select {
          width: 100%;
          @include d_flex_row();
          gap: 10px;
          .mobile-form-title-select-exo-title {
            width: 60% !important;
            .ant-select-selector {
              height: 50px;
              .ant-select-selection-item {
                @include d_flex_row();
              }
            }
          }
        }
      }
    }
    .mobile-form-title-label-and-input-component {
      .mobile-form-input-title-and-label-wrapper {
        @include d_flex_column();
        gap: 10px;

        .mobile-form-input-title-and-label-and-list-icon {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          // border: 1px solid red;
          margin-top: 20px;
          .mobile-form-input-title-icon-btn-wrapper {
            .mobile-form-input-title-icon-btn {
              height: fit-content !important;
              background: none !important;
              border: none !important;
              img.mobile-form-input-title-list-icon {
                height: 30px;
                width: 30px;
              }
            }
          }
          .mobile-form-title-label {
            @include label_styles();
            // margin-top: 10px;
          }
        }

        .mobile-form-titleIcon-and-input-wrapper {
          width: 88%;
          display: flex;
          justify-content: center;
          align-items: center;

          .mobile-form-input-title-component {
            width: 70%;
            // display: none;
            // margin-left: 15px;
            & > * {
              @include input_text_styles();
            }
          }
          .title-icon {
            position: relative;
            right: 15px;
          }
          .ant-input-suffix {
            //clear icon
            .anticon-close-circle {
              transform: scale(2) !important;
              position: relative;
              right: 10px;
            }
          }
        }
      }
    }
    .mobile-form-load-label-and-load-input-component {
      @include d_flex_column();
      margin-top: 10px;
      width: 100% !important;
      .mobile-form-load-label {
        @include label_styles();
      }

      .mobile-form-icon-and-load-input {
        img {
          // display: none;
        }
        .mobile-form-input-load-component {
          width: 65% !important;
          margin-left: 60px;
          & > * {
            @include input_text_styles();
          }
        }
      }
    }
    .mobile-form-input-load-component,
    .mobile-form-input-reps-component {
      .ant-input-suffix {
        //clear icon
        .anticon-close-circle {
          transform: scale(2) !important;
          position: relative;
          right: 10px;
        }
      }
    }
    .mobile-form-reps-label-and-reps-input-component {
      @include d_flex_column();
      width: 100% !important;
      .mobile-form-reps-label {
        @include label_styles();
      }
      .mobile-form-icon-and-reps-input {
        .mobile-form-input-reps-component {
          width: 65% !important;
          margin-left: 60px;

          & > * {
            @include input_text_styles();
          }
        }
      }
    }
    .mobile-form-btns {
      margin-bottom: 40px;
      margin-top: 30px;
      @include d_flex_row();

      .mobile-form-add-btn {
        @include ant_btn_styles();
        border: 0.5px solid rgb(125, 116, 132);
        padding: 5px 15px;
        background: white;

        cursor: pointer;
        span {
          @include label_styles();
          color: rgb(81, 51, 152);
        }
      }
      .mobile-form-reset-btn {
        @include ant_btn_styles();

        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
  .error-msg-container {
    @include d_flex_row();
    span {
      color: rgb(175, 66, 66);
    }
  }
  @media screen and (min-width: 600px) and (max-width: 700px) {
    .workouts-mobile-form-inner {
      .mobile-form-load-label-and-load-input-component {
        @include d_flex_column();
        margin-top: 10px;
        width: 100% !important;
        .mobile-form-load-label {
          @include label_styles();
        }

        .mobile-form-icon-and-load-input {
          display: flex;
          justify-content: center;
          align-items: center;
          .mobile-form-input-load-component {
            width: 50% !important;
            margin-left: 0px !important;
          }
        }
      }
      .mobile-form-reps-label-and-reps-input-component {
        @include d_flex_column();
        width: 100% !important;
        .mobile-form-reps-label {
          @include label_styles();
        }
        .mobile-form-icon-and-reps-input {
          display: flex;
          justify-content: center;
          align-items: center;
          .mobile-form-input-reps-component {
            width: 50% !important;
            margin-left: 0px;

            & > * {
              @include input_text_styles();
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 400px) and (max-width: 600px) {
    .mobile-form-title-label-and-input-component {
      .mobile-form-input-title-and-label-wrapper {
        .mobile-form-input-title-and-label-and-list-icon {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          margin-top: 20px;
          .mobile-form-input-title-icon-btn-wrapper {
            .mobile-form-input-title-icon-btn {
              height: fit-content !important;
              background: none !important;
              border: none !important;
              img.mobile-form-input-title-list-icon {
                height: 30px;
                width: 30px;
              }
            }
          }
          .mobile-form-title-label {
            @include label_styles();
            // margin-top: 10px;
          }
        }

        .mobile-form-titleIcon-and-input-wrapper {
          width: 92% !important;
          display: flex;
          justify-content: center;
          align-items: center;

          .mobile-form-input-title-component {
            // border: 1px solid red;
            width: 100% !important;
            position: relative;
            right: 5px;
            & > * {
              @include input_text_styles();
            }
          }
          .title-icon {
            position: relative;
            right: 150px;
            // display: none;
          }
          .ant-input-suffix {
            //clear icon
            .anticon-close-circle {
              transform: scale(2) !important;
              position: relative;
              right: 10px;
            }
          }
        }
      }
    }
  }
}

.mobile-form-ant-modal {
  &.ant-modal {
    // border: 1px solid;
    .ant-modal-content {
      margin: 0 auto;
      // background: #cdcdcd !important;
    }
    @media screen and (min-width: 700px) and (max-width: 800px) {
      width: 85% !important;
      @include modal_styles();
    }
    @media screen and (min-width: 600px) and (max-width: 700px) {
      width: 80% !important;
      @include modal_styles();
    }
    @media screen and (min-width: 400px) and (max-width: 600px) {
      width: 70% !important;
      @include modal_styles();
      // margin-top: 0;
    }
    @media screen and (min-width: 0px) and (max-width: 400px) {
      // width: 80% !important;
      // @include modal_styles();
    }
  }
}
.tooltip-mobile-btn {
  // display: none;
  @include ant_btn_styles();

  img.mobile-form-select-exo-title-info-btn-icon,
  img {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
  }
}
