@import "@fontsource/convergence";
@import "@fontsource/hachi-maru-pop";

.workout-hamburger-navbar-container {
  div.hamburger-menu-logged-user-name {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    margin-bottom: 0;
    span.f_name {
      font-family: "Poppins";
      font-size: 22px;
      text-transform: capitalize;
      letter-spacing: 1.5px;
      border-bottom: 1px solid lightgray;
    }
  }
  .workout-hamburger-navbar-container-inner {
    display: flex;

    // the hamburger or X icon
    .workout-hamburger-menu-wrapper {
      margin: 15px 0;
      margin-left: 20px;
      display: inline-block;
      .workout-hamburger-menu-wrapper-inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        .workout-hamburger-menu {
          cursor: pointer;
          width: 40px;
          height: 40px;
          &.click_not_allowed {
            // pointer-events: none;
            cursor: not-allowed !important;
          }
        }
        .workout-hamburger-menu-text {
          span {
            // font-family: "Convergence";
            font-family: "Hachi Maru Pop";
            // font-weight: bold;
            font-size: larger;
            text-transform: lowercase;
          }
        }
      }
    }
    .workout-hamburger-menu-home {
      align-self: center;
      margin: 0 auto;
      .workout-hamburger-menu-home-link {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
    .hamburger-menu-profile-avatar-wrapper {
      display: inline-flex;
      gap: 0px;
      background: #fbfbfd;
      padding: 5px 5px;
      border: 0.5px solid rgba(128, 128, 128, 0.17);
      border-radius: 50%;
      padding: 10px;
      margin-right: 15px;

      &.avatar-wrapper_modal_open {
        border: 0;
        background: none;
      }

      img.logged-avatar {
        width: 50px;
      }
      .hamburger-menu-selected-avatar-edit-icon-btn {
        height: fit-content;
        background: none;
        border: none;
        padding: 0;
        img.hamburger-menu-selected-avatar-edit-icon {
          // border: 1px solid;
          width: 20px;
        }
      }
      .hamburger-menu-selected-avatar {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2px;
        img.hamburger-menu-selected-avatar-icon {
          border-radius: 50%;
        }
      }
      &.avatar-wrapper_hamburger_menu_closed {
        border: none;
        align-self: flex-start;
      }
    }
  }
  .workout-hamburger-list-of-avatars {
    display: grid;
    // display: none;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 14px;
    max-height: 300px;
    overflow-y: scroll;
    margin: 15px 0;
    width: 90%;
    &::-webkit-scrollbar {
      width: 15px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(161, 160, 160, 0.05);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.2);
    }
    &::-webkit-scrollbar-thumb:hover {
      border-radius: 10px;
      background: rgba(23, 22, 22, 0.44);
    }
    .workout-hamburger-avatar-wrapper {
      .workout-hamburger-avatar-btn {
        height: fit-content;
        border: none;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        .workout-hamburger-avatar {
        }
      }
      &.workout-hamburger-avatar_search_modal_open {
        filter: blur(3px);
      }
    }
    .workout-hamburger-cancel-btn {
      height: fit-content;
      align-self: center;
      background: rgba(128, 128, 128, 0.12);
      margin-top: 8px;
      position: relative;
      left: 5px;
      span {
        font-family: "Poppins";
        font-size: 20px;
        font-style: italic;
      }
      &:hover {
        span {
          color: initial;
        }
      }
    }
  }

  //the li tags
  .workout-hamburger-menu-links {
    .hamburger-menu-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 15px;
      padding-left: 25px;
      background: rgba(0, 179, 255, 0.3);
      .hamburger-menu-link {
        li {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;

          span {
            font-family: "Poppins";
            font-size: 26px;
            color: rgb(78, 76, 76);
          }
          img {
            width: 50px;
            height: 50px;
          }
          &.hamburger-menu-profile-li {
            // display: flex;
            .hamburger-menu-profile-avatar-wrapper {
              align-self: flex-end;
              justify-self: flex-end;
            }
          }
        }
        &:focus {
          span {
            border-bottom: 1px solid rgb(78, 76, 76);
          }
        }
        &.profile-anchor {
          li {
            width: 80px;
          }
          img {
            width: 50px;
          }
        }
        &.starred-items-anchor {
          width: 260px;

          @media screen and (max-width: 600px) {
            width: 310px;
          }
          &.no_user {
            filter: blur(1.5px);
          }
        }
        &.help-anchor {
          width: 60px;
        }
        &.no_user {
          filter: blur(1.5px);
        }
      }

      .hamburger-menu-profile-link-wrapper {
        display: flex;
        // justify-content: space-between;
        // border: 1px solid red;
        .hamburger-menu-link {
          li {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            span {
              font-family: "Poppins";
              font-size: 26px;
              color: rgb(78, 76, 76);
            }
            img {
              width: 50px;
              height: 50px;
            }
            &.hamburger-menu-profile-li {
              // display: flex;
              .hamburger-menu-profile-avatar-wrapper {
                align-self: flex-end;
                justify-self: flex-end;
              }
            }
          }

          &.profile-anchor {
            width: 80px;
            display: flex;

            img {
              width: 50px;
            }
          }
        }
      }

      .hamburger-menu-logout-btn {
        padding-left: 0;
        height: fit-content;
        background: none !important;
        border: none;
        align-self: flex-start;
        //
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        &:focus {
          border-bottom: 1px solid rgb(78, 76, 76);
        }
        span {
          font-family: "Poppins";
          font-size: 26px;
          color: rgb(78, 76, 76);
        }
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .workout-hamburger-menu-links {
      .hamburger-menu-list {
        background: rgba(0, 179, 255, 0.25);
        .hamburger-menu-link {
        }
        .hamburger-menu-logout-btn {
        }
      }
    }
  }
}
.list-of-avatars-mobile-singup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 0px;
  max-height: 300px;
  overflow-y: scroll;
  margin: 15px 0;
  width: 90%;
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(161, 160, 160, 0.05);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: rgba(23, 22, 22, 0.44);
  }
  .workout-hamburger-avatar-wrapper {
    .workout-hamburger-avatar-btn {
      height: fit-content;
      border: none;
      padding: 3px;
      margin: 15px 0;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
    &.workout-hamburger-avatar_search_modal_open {
      filter: blur(3px);
    }
  }
  .workout-hamburger-cancel-btn {
    height: fit-content;
    align-self: center;
    background: rgba(128, 128, 128, 0.99);
    margin-top: 8px;
    position: relative;
    left: 5px;
    span {
      font-family: "Mulish";
      text-transform: uppercase;
      font-size: 20px;
      font-style: italic;
      color: white;
    }
    &:hover {
      span {
        color: initial;
      }
    }
  }
}
