@import "@fontsource/open-sans";
//defining screen breakpoints for responsivness
$x-small: 0px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1400px;

//468 768 m 1024 , 1366px

.workout-app-navbar-container {
  .workout-app-navbar {
    width: 100%;
    height: 190px;
    .workout-navbar-icon-user-logged-in {
      display: flex;
      justify-content: center;
      align-items: center;
      .nav-logo-and-lover-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 40px;
        width: 300px;
        // border: 1px solid;

        &:hover {
          img.lover-logo {
            transform: scale(1.1);
          }
        }
        .navbar-ul {
          margin-bottom: 0px;
          padding-left: 0;
          .app-nav-stack {
            .icon-and-word {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              height: 180px;
              cursor: pointer;
              img.gym-img {
                width: 150px;
                height: 150px;
              }
              .gym-word {
                font-family: "Poppins";
                color: gray;
                font-size: 30px;
                text-decoration: none;
                position: relative;
                bottom: 25px;
              }
            }
          }
          .navbar-ul-li {
            list-style: none;
            .nav-router-link {
              text-decoration: none;

              span {
                font-family: "Open Sans";
                color: black;
              }
            }
          }
        }
        .navabar-logo {
          margin-right: 20px;
          .nav-router-link {
            .app-nav-stack {
              .navbar-ul-li {
                .gym-img {
                  width: 80px;
                  height: 80px;

                  margin-bottom: 10px;
                }
                .gym-word {
                  font-family: "Poppins";
                  color: gray;
                  font-size: 15px;
                  text-decoration: none;
                }
              }
            }
          }
        }
        .nav-logo-lover-icon {
          img {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
    .workout-navbar-icon-user-logged-out {
      display: flex;
      justify-content: center;

      .navbar-ul {
        margin-bottom: 0px;
        padding-left: 0;
        .app-nav-stack {
          .icon-and-word {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 180px;
            cursor: pointer;
            img.gym-img {
              width: 64px;
              height: 64px;
            }
            .gym-word {
              font-family: "Poppins";
              color: gray;
              font-size: 15px;
              text-decoration: none;
              position: relative;
              bottom: 15px;
            }
          }
        }
        .navbar-ul-li {
          list-style: none;
          .nav-router-link {
            text-decoration: none;

            span {
              font-family: "Open Sans";
              color: black;
            }
          }
        }
      }
    }
    .workout-app-navbar-user-profile-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      bottom: 180px;
      &.bg-gray {
        background: gray;
      }
      .workout-app-navbar-user-profile {
        // border: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .welcome-text {
          font-family: "Poppins";
          color: white;
          font-weight: bold;
          font-size: 18px;
        }
        .logged-user {
          font-family: "Poppins";
          color: white;
          font-weight: bold;
          font-size: 18px;
        }
        .logged-avatar-btn {
          height: fit-content;
          margin-top: 1px;
          .logged-avatar {
            width: 35px;
            height: 35px;
            border-radius: 50%;
          }
        }

        .workout-app-navbar-logout-btn {
          margin-right: 5px;
          .LogoutOutlined-icon {
          }
          &.adjust-btn {
            // margin-top: 10px;
            margin-right: 20px;
          }
        }
      }
      .workout-app-navbar-help-wrapper {
        margin-right: 100px;
        margin-top: 5px;
        margin-bottom: 5px;
        overflow: hidden;

        .workout-app-navbar-help-btn {
          background: none;
          height: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          .workout-app-navbar-help-text {
            font-family: "Inconsolata";
            color: white;
            font-size: 16px;
            /* animation properties */
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            -moz-animation: moveTextAnimation 5s linear infinite;
            -webkit-animation: moveTextAnimation 5s linear infinite;
            animation: moveTextAnimation 5s linear infinite;
          }
          .help-icon {
            img {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
      .workout-app-navbar-login-signup {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        // margin-right: 30px;
        background: rgba(128, 128, 128, 0.15);
        padding: 5px 140px;
        padding-bottom: 12px;
        &:hover {
          background: rgba(128, 128, 128, 0.22);
          padding-bottom: 22px;
          transition: 0.5s ease;
        }
        .LoginOutlined-link {
          display: flex;
          flex-direction: column;
          .LoginOutlined-icon {
            &:hover {
              transform: scale(1.1);
            }
            svg {
              width: 34px;
              height: 34px;
            }
          }
        }

        span.login-text {
          font-family: "Poppins";
          color: rgba(128, 128, 128, 0.759);
          font-size: 13px;
        }

        .signUpIcon-link {
          display: flex;
          flex-direction: column;
          align-items: center;
          .signup-icon {
            &:hover {
              transform: scale(1.1);
            }
            width: 34px;
            height: 34px;
          }
          span.signup-text {
            font-family: "Poppins";
            color: rgba(128, 128, 128, 0.759);
            font-size: 13px;
          }
        }
      }
    }
    &.navbar-user-logged-out {
      height: 110px;
    }
    &.navbar-user-logged-in {
    }
  }
  .workout-app-navbar-divider {
    display: flex;
    justify-content: center;

    .the-divider {
      min-width: auto !important;
    }
  }
  @media screen and (max-width: $small) {
    margin-bottom: 0px !important;
    .workout-app-navbar {
      width: 100%;
      height: 190px;

      .workout-navbar-icon-user-logged-in {
        .nav-logo-and-lover-icon {
          &:hover {
            img.lover-logo {
            }
          }
          .navbar-ul {
            .app-nav-stack {
              .icon-and-word {
                cursor: pointer;
                img.gym-img {
                }
                .gym-word {
                  font-size: 30px;
                }
              }
            }
            .navbar-ul-li {
              .nav-router-link {
                span {
                  font-family: "Open Sans";
                  color: black;
                }
              }
            }
          }
          .navabar-logo {
            margin-right: 20px;
            .nav-router-link {
              .app-nav-stack {
                .navbar-ul-li {
                  .gym-img {
                    width: 80px;
                    height: 80px;
                    margin-bottom: 10px;
                  }
                  .gym-word {
                    font-family: "Poppins";
                    color: gray;
                    font-size: 15px;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
      .workout-navbar-icon-user-logged-out {
        // margin-top: 50px;
        // position: relative;
        // top: 115px;
        .navbar-ul {
          .app-nav-stack {
            .icon-and-word {
              cursor: pointer;
              // position: relative;
              // bottom: 20px;
              img.gym-img {
                width: 34px;
                height: 34px;
                position: relative;
                top: 18px;
              }
              .gym-word {
                font-family: "Mulish";
                color: rgb(118, 63, 63);
                font-size: 32px;
                font-weight: bolder;
                letter-spacing: 1.5px;
              }
            }
          }
          .navbar-ul-li {
            .nav-router-link {
              span {
                font-family: "Open Sans";
                color: black;
              }
            }
          }
        }
      }
      .workout-app-navbar-user-profile-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;

        .workout-app-navbar-login-signup {
          background: rgba(21, 13, 13, 0.55);
          gap: 20px;
          // padding: 0;

          .LoginOutlined-link {
            .LoginOutlined-icon {
              svg {
                // border: 1px solid red;
                width: 64px;
                height: 64px;
              }
            }
          }

          span.login-text {
            font-family: "Oswald";
            font-size: 30px;
            color: white;
          }

          .signUpIcon-link {
            .signup-icon {
              width: 64px;
              height: 64px;
            }
            span.signup-text {
              font-family: "Oswald";
              color: white;
              font-size: 30px;
            }
          }
        }
        .workout-app-navbar-user-profile {
          // border: 1px solid;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15px;

          .welcome-text {
            font-family: "Poppins";
            color: white;
            font-weight: bold;
            font-size: 18px;
          }
          .logged-user {
            font-family: "Poppins";
            color: white;
            font-weight: bold;
            font-size: 18px;
          }
          .logged-avatar-btn {
            height: fit-content;
            margin-top: 1px;
            .logged-avatar {
              width: 35px;
              height: 35px;
              border-radius: 50%;
            }
          }

          .workout-app-navbar-logout-btn {
            margin-right: 5px;
            .LogoutOutlined-icon {
            }
            &.adjust-btn {
              // margin-top: 10px;
              margin-right: 20px;
            }
          }
        }
        .workout-app-navbar-help-wrapper {
          margin-right: 100px;
          margin-top: 5px;
          margin-bottom: 5px;

          .workout-app-navbar-help-btn {
            background: none;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .workout-app-navbar-help-text {
            }
            .help-icon {
              img {
                width: 35px;
                height: 35px;
              }
            }
          }
        }
        &.bg-gray {
          background: gray;
        }
      }
      &.navbar-user-logged-out {
        height: 110px;
      }
      &.navbar-user-logged-in {
      }
    }
    .workout-app-navbar-divider {
      margin: 10px 0;

      .the-divider {
        min-width: auto !important;
      }
    }
  }

  @media screen and (max-width: 480px) {
    // margin-bottom: 100px;
    // border: 1px solid red;
    .workout-app-navbar {
      width: 100%;
      height: 190px;
      // login and logout icons
      .workout-app-navbar-user-profile-wrapper {
        margin-top: 5px;

        .workout-app-navbar-login-signup {
          // border: 1px solid ;
          background: rgba(21, 13, 13, 0.45);
          gap: 20px;
          width: 80%;
          padding: 25px 0;

          span.login-text {
            display: none;
          }

          .signUpIcon-link {
            .signup-icon {
              width: 64px;
              height: 64px;
            }
            span.signup-text {
              display: none;
            }
          }
        }
        .workout-app-navbar-user-profile {
          // border: 1px solid;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15px;

          .welcome-text {
            font-family: "Poppins";
            color: white;
            font-weight: bold;
            font-size: 18px;
          }
          .logged-user {
            font-family: "Poppins";
            color: white;
            font-weight: bold;
            font-size: 18px;
          }
          .logged-avatar-btn {
            height: fit-content;
            margin-top: 1px;
            .logged-avatar {
              width: 35px;
              height: 35px;
              border-radius: 50%;
            }
          }

          .workout-app-navbar-logout-btn {
            margin-right: 5px;
            .LogoutOutlined-icon {
            }
            &.adjust-btn {
              // margin-top: 10px;
              margin-right: 20px;
            }
          }
        }
        .workout-app-navbar-help-wrapper {
          margin-right: 100px;
          margin-top: 5px;
          margin-bottom: 5px;

          .workout-app-navbar-help-btn {
            background: none;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .workout-app-navbar-help-text {
            }
            .help-icon {
              img {
                width: 35px;
                height: 35px;
              }
            }
          }
        }
        &.bg-gray {
          background: gray;
        }
      }
      //Training Gym and logo
      .workout-navbar-icon-user-logged-in {
        .nav-logo-and-lover-icon {
          &:hover {
            img.lover-logo {
            }
          }
          .navbar-ul {
            .app-nav-stack {
              .icon-and-word {
                cursor: pointer;
                img.gym-img {
                }
                .gym-word {
                  font-size: 30px;
                }
              }
            }
            .navbar-ul-li {
              .nav-router-link {
                span {
                  font-family: "Open Sans";
                  color: black;
                }
              }
            }
          }
          .navabar-logo {
            margin-right: 20px;
            .nav-router-link {
              .app-nav-stack {
                .navbar-ul-li {
                  .gym-img {
                    width: 80px;
                    height: 80px;
                    margin-bottom: 10px;
                  }
                  .gym-word {
                    font-family: "Poppins";
                    color: gray;
                    font-size: 15px;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
      .workout-navbar-icon-user-logged-out {
        // margin-top: 50px;
        // position: relative;
        // top: 115px;
        .navbar-ul {
          .navbar-ul-li {
            .nav-router-link {
              span {
                font-family: "Open Sans";
                color: black;
              }
            }
          }
        }
      }

      &.navbar-user-logged-out {
        height: 110px;
      }
      &.navbar-user-logged-in {
      }
    }
    .workout-app-navbar-divider {
      margin: 10px 0;

      .the-divider {
        min-width: auto !important;
      }
    }
  }

  //replace the menu with a collapsible menu when the user is logged in and when the screen is small < 450px
}
// do not nest this css rule inside the container
.workout-app-navbar-avatar-menu {
  .avatar-menu-item {
    .avatar-menu-item-anchor {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      span.avatar-menu-item-text {
        font-family: "Inconsolata";
        color: rgba(128, 128, 128, 1);
        font-size: 16px;
      }
      img.avatar-menu-starred-icon,
      img.avatar-menu-profile-icon {
        width: 20px;
        height: 20px;
      }
    }
  }
}
.logout-modal {
  &.ant-modal {
    width: 600px !important;
    .ant-modal-body {
      height: 400px !important;

      .logout-modal-wrapper {
        border: 1px solid;
        width: 100%;
        height: 100%;
        .logout-modal-inner {
          background: url(../../assets/img/log-out-bg.png) no-repeat center;
          background-size: contain;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 25px;
          .logout-modal-cancelbtn {
            height: fit-content;
            &:hover {
              border: 1px solid gray !important;
              background: rgba(128, 128, 128, 0.05);
            }
            span {
              font-family: "Poppins";
              color: gray;
              font-size: 30px;
              font-weight: lighter;
            }
          }
          .logout-modal-logoutbtn {
            height: fit-content;
            &:hover {
              border: 1px solid red !important;
              background: rgba(255, 0, 0, 0.05);
            }
            span {
              font-family: "Poppins";
              color: gray;
              font-size: 30px;
              font-weight: lighter;
            }
          }
        }
      }
    }
  }
}

/* for Firefox */
@-moz-keyframes moveTextAnimation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes moveTextAnimation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes moveTextAnimation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
