//defining screen breakpoints for responsivness
$x-small: 0px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1400px;

.fav-work-container {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  width: 288px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
  }
  .fav-work-trash-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    .fav-work-trash-icon-btn {
      border: 1px solid lightgray !important;

      &:hover {
        border: none;
      }
    }
  }
  .fav-work-title {
    span {
      font-family: "Inconsolata";
      font-size: 18px;
    }
  }
  .fav-work-reps {
    span {
      font-family: "Open Sans";
      font-size: 20px;
    }
  }
  .fav-work-load {
    span {
      font-family: "Mulish";
      font-size: 22px;
    }
  }
  .fav-work-date {
    span {
      font-family: "Roboto";
      font-size: 24px;
    }
  }
  @media screen and (min-width: $large) and (max-width: $x-large) {
    width: 240px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .fav-work-trash-icon {
      .fav-work-trash-icon-btn {
        border: 1px solid grey !important;
      }
    }
    .fav-work-title {
      span {
        font-family: "Mulish";
      }
    }
    .fav-work-reps {
      span {
        font-family: "Karla";
      }
    }
    .fav-work-load {
      span {
        font-family: "Poppins";
      }
    }
    .fav-work-date {
      max-width: 160px;
      // border: 1px solid red;
      span {
        font-family: "Poppins";
      }
    }
  }
  @media screen and (min-width: $large) and (max-width: 1040px) {
    width: 230px;
  }
  @media screen and (min-width: $medium) and (max-width: $large) {
    width: 230px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .fav-work-trash-icon {
      .fav-work-trash-icon-btn {
        border: 1px solid grey !important;
      }
    }
    .fav-work-title {
      span {
        font-family: "Mulish";
        font-weight: bold;
      }
    }
    .fav-work-reps {
      span {
        font-family: "Mulish";
        font-size: 25px;
        color: grey;
      }
    }
    .fav-work-load {
      span {
        font-family: "Poppins";
        color: rgb(64, 64, 133);
      }
    }
    .fav-work-date {
      max-width: 160px;
      span {
        font-family: "Poppins";
        font-style: italic;
        font-size: 20px;
        color: rgb(36, 95, 75);
        border-bottom: 1px solid rgba(36, 95, 75, 0.496);
      }
    }
  }
  @media screen and (min-width: $small) and (max-width: $medium) {
    width: 220px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .fav-work-trash-icon {
      .fav-work-trash-icon-btn {
        border: 1px solid rgb(115, 76, 76) !important;
      }
    }
    .fav-work-title {
      span {
        font-family: "Mulish";
        font-weight: bold;
        font-size: 28px;
      }
    }
    .fav-work-reps {
      span {
        font-family: "Mulish";
        font-size: 25px;
        color: grey;
        font-weight: bold;
      }
    }
    .fav-work-load {
      span {
        font-family: "Poppins";
        color: rgb(64, 64, 133);
        font-size: 28px;
      }
    }
    .fav-work-date {
      max-width: 160px;
      span {
        font-family: "Poppins";
        font-style: italic;
        font-size: 20px;
        color: rgb(36, 95, 75);
        border-bottom: 1px solid rgba(36, 95, 75, 0.496);
      }
    }
  }
  @media screen and (min-width: $x-small) and (max-width: $small) {
    width: 300px;
    padding: 15px;
    display: flex;

    flex-direction: column;
    gap: 10px;
    .fav-work-trash-icon {
      .fav-work-trash-icon-btn {
        height: fit-content;
        img {
          width: 44px;
        }
      }
    }
    .fav-work-title {
      span {
        font-family: "Mulish";
        font-weight: 500;
        font-size: 28px;
        font-style: italic;
        letter-spacing: 1.4px;
        border-bottom: 0.5px solid lightgrey;
      }
    }
    .fav-work-reps {
      align-self: center;
      span {
        font-family: "Mulish";
        font-size: 25px;
        color: grey;
        font-weight: bold;
      }
    }
    .fav-work-load {
      align-self: center;
      span {
        font-family: "Poppins";
        color: rgb(64, 64, 133);
        font-size: 28px;
      }
    }
    .fav-work-date {
      max-width: 190px;
      span {
        font-family: "Poppins";
        font-style: italic;
        font-size: 26px;
        color: rgb(26, 78, 61);
        border-bottom: 1px solid rgba(36, 95, 75, 0.496);
      }
    }
  }
}

.fav-work-restore-btn {
  height: fit-content;
  min-height: 35px;
  background: rgba(211, 211, 211, 0.437) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  &.no_text {
    background: rgba(211, 211, 211, 0.25) !important;
  }
  span {
    font-family: "Inconsolata";
    font-size: 18px;
  }
  img {
    width: 30px;
    height: 30px;
  }
}
