.workout-details-mobile-container {
  max-width: 350px;
  .workout-details-mobile-inner {
    padding: 15px 20px;
    margin-bottom: 20px;

    .workout-details-mobile-card {
      &.ant-card {
        .workout-details-mobile-card-content-text {
          .workout-mobile-card-content-load {
            .span1 {
              font-family: "Mulish";
              font-size: 22px;
            }
            .span2 {
              font-family: "Karla";
              font-size: 30px;
              font-style: italic;
            }
          }
          .workout-mobile-card-content-reps {
            .span1 {
              font-family: "Mulish";
              font-size: 22px;
            }
            .span2 {
              font-family: "Karla";
              font-size: 30px;
              font-style: italic;
            }
          }

          .workout-mobile-card-content-date {
            span {
              font-family: "sans-serif";
              font-size: 26px;
              font-style: italic;
            }
          }
        }
        .workout-details-mobile-card-content-icons {
          display: flex;
          gap: 20px;
          .workout-mobile-card-content-delete-iconbtn {
            padding: 5px;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;

            z-index: 999;
            svg {
              width: 44px;
              height: 44px;
            }
          }
          .workout-mobile-card-content-share-iconbtn {
            padding: 5px;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999;
            svg {
              width: 44px;
              height: 44px;
            }
          }
          .workout-mobile-card-content-edit-iconbtn {
            z-index: 999;
            padding: 5px;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 44px;
              height: 44px;
            }
          }
        }
        .ant-card-head-title {
          div.card-title {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 60px;
              height: 60px;
              flex: 25%;
            }
            .card-title-wrapper {
              flex: 75%;
              span {
                font-family: "Poppins";
                font-size: 22px;
                white-space: normal;
              }
            }
          }
        }
      }
      &.workout-details-mobile-card-filtered {
        @media screen and (min-width: 1000px) and (max-width: 1200px) {
          width: 100% !important;

          .workout-details-mobile-card-content-text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .workout-mobile-card-content-load {
              .span1 {
                font-family: "Poppins";
                font-size: 18px;
                font-weight: 300;
              }
              .span2 {
                font-family: "Karla";
                font-size: 25px;
              }
            }
            .workout-mobile-card-content-reps {
              .span1 {
                font-family: "Karla";
                font-size: 20px;
              }
              .span2 {
                font-family: "Poppins";
                font-size: 25px;
              }
            }

            .workout-mobile-card-content-date {
              margin-top: 10px;
              span {
                font-family: "Mulish";
                font-size: 20px;
              }
            }
          }
          .workout-details-mobile-card-content-icons {
            gap: 10px;
            justify-content: center;
            align-items: center;
            .workout-mobile-card-content-delete-iconbtn {
              z-index: 999;
            }
            .workout-mobile-card-content-share-iconbtn {
              z-index: 999;
            }
            .workout-mobile-card-content-edit-iconbtn {
              z-index: 999;
            }
          }
          &.ant-card {
            .card-title-wrapper {
              max-width: 100px;
            }
          }
        }
        @media screen and (min-width: 1000px) and (max-width: 1100px) {
          width: 100% !important;
        }
        @media screen and (min-width: 900px) and (max-width: 1000px) {
        }
      }
    }
  }
  &.workout-details-mobile-container-filtered {
    @media screen and (min-width: 1100px) and (max-width: 1200px) {
      .workout-details-mobile-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
      }
    }
    @media screen and (min-width: 1000px) and (max-width: 1100px) {
      .workout-details-mobile-inner {
        height: 430px;
      }
    }
  }
  @media screen and (min-width: 500px) and (max-width: 700px) {
    //
  }
  @media screen and (min-width: 380px) and (max-width: 500px) {
    border: 1px solid lightgray;
    width: 282px;
    // position: relative;
    // right: 70px;
    .workout-details-mobile-inner {
      // background: yellow !important;
      padding: 5px;
      width: 280px;
      padding-left: 10px;
      padding-top: 20px;
      padding-bottom: 20px;

      .workout-details-mobile-card {
        max-width: 260px;
        .workout-details-mobile-card-content-text {
          .workout-mobile-card-content-load {
            .span1 {
              font-family: "Mulish";
              font-size: 23.5px;
            }
            .span2 {
              font-family: "Karla";
              font-size: 23.5px;
              font-style: italic;
            }
          }
          .workout-mobile-card-content-reps {
            .span1 {
              font-family: "Mulish";
              font-size: 23.5px;
            }
            .span2 {
              font-family: "Karla";
              font-size: 23.5px;
              font-style: italic;
            }
          }

          .workout-mobile-card-content-date {
            span {
              font-family: "sans-serif";
              font-size: 23.5px;
              font-style: italic;
            }
          }
        }
        .workout-details-mobile-card-content-icons {
          display: flex;
          gap: 20px;
          margin-left: 15px;
          .workout-mobile-card-content-delete-iconbtn {
            z-index: 999;
            svg {
              width: 44px;
              height: 44px;
            }
          }
          .workout-mobile-card-content-share-iconbtn {
            svg {
              width: 44px;
              height: 44px;
            }
          }
          .workout-mobile-card-content-edit-iconbtn {
            img {
              width: 44px;
              height: 44px;
            }
          }
        }

        &.ant-card {
          .ant-card-body {
            padding: 10px;
          }
          .ant-card-head-title {
            margin: 10px 0;
            padding: 0;
            div.card-title {
              flex-direction: column;
              img {
                width: 50px;
                height: 50px;
              }
              .card-title-wrapper {
                display: flex;
                flex-direction: column;
                max-width: 180px;
                span {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 0px) and (max-width: 380px) {
    // border: 2px solid lightgray;
    width: 205px;
    .workout-details-mobile-inner {
      padding: 5px;
      width: 200px;
      padding-left: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
      .workout-details-mobile-card {
        max-width: 180px;

        .workout-details-mobile-card-content-icons {
          display: flex;
          flex-direction: column;
          // justify-content: center;
          align-items: center;
          gap: 20px;
          margin-left: 15px;
          .workout-mobile-card-content-delete-iconbtn {
            width: 80px;
            z-index: 999;
            svg {
              width: 44px;
              height: 44px;
            }
          }
          .workout-mobile-card-content-share-iconbtn {
            width: 80px;
            svg {
              width: 44px;
              height: 44px;
            }
          }
          .workout-mobile-card-content-edit-iconbtn {
            width: 80px;
            img {
              width: 44px;
              height: 44px;
            }
          }
        }

        &.ant-card {
          .ant-card-body {
            padding: 10px;
          }
          .ant-card-head-title {
            padding: 0;
            margin: 10px 0;

            div.card-title {
              flex-direction: column;

              img {
                width: 50px;
                height: 50px;
              }
              .card-title-wrapper {
                display: flex;
                flex-direction: column;
                max-width: 180px;
                span {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 550px) and (max-width: 680px) {
    .workout-details-mobile-inner {
      position: relative;
      right: 40px;
      // border: 4px solid red;
    }
  }
  @media screen and (min-width: 525px) and (max-width: 550px) {
    .workout-details-mobile-inner {
      position: relative;
      right: 60px;
      // border: 4px solid green;
    }
  }
  @media screen and (min-width: 500px) and (max-width: 525px) {
    .workout-details-mobile-inner {
      position: relative;
      right: 80px;
      // border: 4px solid green;
    }
  }
  @media screen and (min-width: 450px) and (max-width: 500px) {
    position: relative;
    // border: 1px solid red;
    left: -50px !important;
  }
  @media screen and (min-width: 425px) and (max-width: 450px) {
    position: relative;
    left: -80px !important;
  }
  @media screen and (min-width: 400px) and (max-width: 425px) {
    position: relative;
    left: -90px !important;
  }
  @media screen and (min-width: 380px) and (max-width: 400px) {
    position: relative;
    left: -100px !important;
  }
  @media screen and (min-width: 350px) and (max-width: 380px) {
    position: relative;
    left: -80px !important;
  }
  @media screen and (min-width: 300px) and (max-width: 350px) {
    position: relative;
    left: -80px !important;
  }
  @media screen and (min-width: 250px) and (max-width: 300px) {
    position: relative;
    left: -120px !important;
  }
  @media screen and (min-width: 0px) and (max-width: 250px) {
    position: relative;
    left: -150px !important;
  }
  @media screen and (min-width: 550px) and (max-width: 600px) {
    &.move_a_bit_from_left {
      position: relative !important;
      left: 10% !important;
    }
  }
  @media screen and (min-width: 500px) and (max-width: 550px) {
    &.move_a_bit_from_left {
      position: relative !important;
      left: 10% !important;
    }
  }
  @media screen and (min-width: 450px) and (max-width: 500px) {
    &.move_a_bit_from_left {
      position: relative !important;
      left: 10% !important;
    }
  }
  @media screen and (min-width: 400px) and (max-width: 450px) {
    &.move_a_bit_from_left {
      position: relative !important;
      left: 0% !important;
    }
  }
  @media screen and (min-width: 0px) and (max-width: 400px) {
    &.move_a_bit_from_left {
      position: relative !important;
      left: 0% !important;
    }
  }
}
