.workout-details-mobile-container {
  .workout-details-mobile-inner {
    padding: 15px 20px;
    padding-left: 50px;

    .workout-details-mobile-card {
      .workout-details-mobile-card-content-text {
        .workout-mobile-card-content-load {
          .span1 {
            font-family: "Mulish";
            font-size: 22px;
          }
          .span2 {
            font-family: "Karla";
            font-size: 30px;
            font-style: italic;
          }
        }
        .workout-mobile-card-content-reps {
          .span1 {
            font-family: "Mulish";
            font-size: 22px;
          }
          .span2 {
            font-family: "Karla";
            font-size: 30px;
            font-style: italic;
          }
        }

        .workout-mobile-card-content-date {
          span {
            font-family: "sans-serif";
            font-size: 26px;
            font-style: italic;
          }
        }
      }
      .workout-details-mobile-card-content-icons {
        display: flex;
        gap: 20px;
        .workout-mobile-card-content-delete-iconbtn {
          padding: 5px;
          height: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;

          z-index: 999;
          svg {
            width: 44px;
            height: 44px;
          }
        }
        .workout-mobile-card-content-share-iconbtn {
          padding: 5px;
          height: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 999;
          svg {
            width: 44px;
            height: 44px;
          }
        }
        .workout-mobile-card-content-edit-iconbtn {
          z-index: 999;
          padding: 5px;
          height: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 44px;
            height: 44px;
          }
        }
      }

      &.ant-card {
        .ant-card-head-title {
          div.card-title {
            display: flex;
            justify-content: center;
            align-items: center;
            // gap: 0;
            img {
              width: 60px;
              height: 60px;
              flex: 25%;
            }
            .card-title-wrapper {
              flex: 75%;
              // border: 1px solid;
              span {
                font-family: "Poppins";
                font-size: 22px;
                white-space: normal;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 500px) and (max-width: 700px) {
    border: 1px solid red;
  }
  @media screen and (min-width: 0px) and (max-width: 500px) {
    border: 1px solid gray;
  }
}
