.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .player-wrapper-vid {
    .react-player {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .player-wrapper-redirect {
    position: relative;
    top: 20px;
    .player-wrapper-red-btn {
      background: none;
      border: 1px solid rgb(67, 60, 60);
      width: fit-content;
      height: fit-content;
      a {
        &:hover {
          transform: scale(1.2);
        }
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}
