@import "@fontsource/inconsolata";

.chest-page-container {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  //setting minheight to 1400px will prevent the page fro mscrolling to the top when navigating between chest sub pages
  min-height: 1400px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  margin-left: 50px;
  .chest-workouts {
    height: 100%;
  }
  .chest-form {
    // flex: 30%;
  }
  .divider {
  }
}
.pagination-content-loaded {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 100px 0px;
  margin-top: 70px;

  .ant-pagination-prev {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ant-pagination-next {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.pagination-content-loaded-grid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 215px;
  gap: 10px;
  // border: 2px solid red;
  .ant-pagination-prev {
    img {
      width: 30px;
      height: 30px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ant-pagination-item {
    font-family: "Inconsolata";
    &.ant-pagination-item-active {
      font-size: 30px;
      padding: 5px;
      height: fit-content;
    }
  }
  .ant-pagination-next {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 30px;
      height: 30px;
    }
  }
}
.pagination-filtered-results {
  position: relative;
  bottom: 500px;
  .ant-pagination-item {
    display: none;
  }
  .ant-pagination-prev,
  .ant-pagination-next {
    &:hover {
      transform: scale(1.1);
    }
  }
  .ant-pagination-prev {
    position: relative;
    bottom: 400px;
  }
  .ant-pagination-next {
    position: relative;
    bottom: 400px;
    margin-left: 800px;
  }
  &.pagination-filtered-results-list {
    position: relative;
    bottom: 790px;
    .ant-pagination-prev {
      position: relative;
      bottom: 400px;
      left: 290px;
    }
    .ant-pagination-next {
      position: relative;
      bottom: 400px;
      margin-left: 700px;
    }
  }
  &.pagination-filtered-results-grid {
    .ant-pagination-prev {
      position: relative;
      bottom: 300px;
      left: 70px;
    }
    .ant-pagination-next {
      position: relative;
      bottom: 300px;
      margin-left: 900px;
    }
  }

  &.pagination-filtered-results-less-than4 {
    .ant-pagination-prev {
      display: none;
    }
    .ant-pagination-next {
      display: none;
    }
  }
  &.pagination-filtered-results-none {
    .ant-pagination-prev {
      display: none;
    }
    .ant-pagination-next {
      display: none;
    }
  }
}

.skeleton-content-not-loaded {
  display: flex;
  flex-direction: column;
  position: relative;

  .pagination-content-not-loaded {
    align-self: center;
    transform: scale(1.2);
  }
  .spinner {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: scale(2);
  }
}

//by default , components nested inside mui Skeleton component are in the DOM but hidden, so we type this to make the antd Skeleton child be visible
.MuiSkeleton-root {
  &.MuiSkeleton-rectangular {
    &.MuiSkeleton-pulse {
      &.MuiSkeleton-withChildren {
        & > * {
          visibility: visible !important;
        }
      }
    }
  }
}
// html : class="MuiSkeleton-root MuiSkeleton-rectangular MuiSkeleton-pulse MuiSkeleton-withChildren"

.no-match {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  img {
    width: 300px;
    height: 300px;
  }
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  .home-begin {
    .home-begin-btn {
      height: fit-content;
      padding: 12px 25px;
      span {
        font-family: "Mulish";
        font-size: 30px;
      }
    }
  }
}

.starred-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
