@mixin d_flex {
  display: flex;
  //   justify-content: center;
  align-items: center;
}

@mixin text_styles {
  font-family: "Poppins";
  font-size: 22px;
  //   text-transform: capitalize;
  letter-spacing: 1.5px;
  border-bottom: 1px solid lightgray;
}
@mixin text_styles_2 {
  font-family: "Mulish";
  font-size: 17px;
  color: rgba(255, 0, 0, 0.77);
  letter-spacing: 1.2px;
  border-bottom: 1px solid rgba(255, 0, 0, 0.33);
}
@mixin text_btn_styles {
  font-family: "Inconsolata";
  font-size: 17px;
  text-transform: initial;
  letter-spacing: 1.4px;
  color: white;
  font-weight: bold;
  //   border-bottom: 1px solid lightgray;
}

.profile-page-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  .profile-email-wrapper {
    @include d_flex;
    gap: 25px;
    .email_bloc1 {
      @include d_flex;
      gap: 15px;

      img {
        width: 60px;
        height: 60px;
      }
      span {
        @include text_styles();
      }
    }
    .profile-copy-edit-btn-wrapper {
      @include d_flex;
      gap: 25px;

      .profile-email-copy-btn {
        height: fit-content;
        padding: 5px;
        margin-right: 15px;
        img {
          // border: 1px solid;
          width: 30px;
          height: 30px;
        }
      }
    }
    &.user_typing_email {
      .email_bloc1 {
        position: relative;
        bottom: 2.8px;
        img {
          width: 35px;
          height: 35px;
          transition: 0.85s ease !important;
        }
        span {
          font-size: 16px;
          transition: 0.85s ease !important;
        }
      }
    }
  }

  .profile-page-email-input-cancel_btn-not_valid-wrapper {
    @include d_flex;
    flex-direction: column;
    .profile-page-email-input-wrapper {
      @include d_flex;
      justify-content: center;
      gap: 20px;
      padding: 10px 0;
      width: 100%;
      .profile-page-email-input {
        //=== ant-input-affix-wrapper
        width: 35%;
        margin: 0;
        .ant-input {
          height: 35px;
          font-size: 17px;
          font-family: "Poppins";
          color: gray;
        }
        .ok_suffix-btn {
          //
        }
        &.ok_clicked_email_invalid {
          border: 1px solid rgba(255, 0, 0, 0.648);
          box-shadow: none !important;
        }
      }
      .x_icon-btn {
        height: fit-content;
        padding: 0;
        .x_icon {
          width: 55px;
          height: 55px;
        }
      }
    }
    .not_valid_sentence {
      span {
        @include text_styles_2();
      }
    }
  }

  .profile-fullName-wrapper {
    @include d_flex;
    gap: 25px;
    img {
      width: 60px;
      height: 60px;
    }
    span.name {
      @include text_styles();
    }
    .profile-email-copy-btn {
      height: fit-content;
      padding: 5px;
      margin-right: 15px;
      img {
        // border: 1px solid;
        width: 30px;
        height: 30px;
      }
    }
    .profile-edit-btn-wrapper {
      //   .profile-edit-btn {
      //     height: fit-content;
      //     padding: 5px;
      //     margin-right: 15px;
      //     background: rgba(163, 94, 175, 0.3);

      //     span {
      //       @include text_btn_styles();
      //     }
      //   }
    }
  }
  .profile-country_icon-wrapper {
    @include d_flex;
    gap: 25px;
    span.country_text {
      @include text_styles();
    }
    .profile-email-copy-btn {
      height: fit-content;
      padding: 5px;
      margin-right: 15px;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
