.stepper-box-wrapper {
  overflow-x: hidden;
  .signup-form-email-item-input,
  .signup-form-full-name-item-input,
  .signup-form-password-item-input {
    width: 100%;
    height: 60px;
    &.form-input-mobile {
      .ant-input-suffix {
        .ant-input-clear-icon {
          .anticon-close-circle {
            transform: scale(2) !important;
          }
        }
      }
    }
  }

  .signup-form-gender-item-select {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signup-form-country-item-select {
    width: 250px !important;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active-step-description {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .the-stepper-container {
    margin-bottom: 150px;
    padding: 0;
    width: 90%;
  }
  .the-stepper-box {
    width: 90%;
  }
  .the-stepper-paper {
    width: 90%;
  }
  .mobile-stepper-next-btn {
    border: none;
    height: fit-content;
    // margin-top: -360px;
    img {
      width: 64px;
      height: 64px;
    }
  }
  .mobile-stepper-step-one-btn {
    border: none;
    height: fit-content;
    img {
      width: 44px;
      height: 44px;
    }
  }
  .mobile-stepper-back-btn {
    border: none;
    height: fit-content;
    // margin-top: -360px;

    img {
      width: 64px;
      height: 64px;
    }
  }
}
