@mixin span_styles {
  font-family: "Mulish";
  font-size: 25px;
  color: white;
}
@mixin btn_styles {
  height: fit-content;
  padding: 10px 20px;
}
@mixin d_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-workout-mobile-container {
  .delete-workout-mobile-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .delete-workout-mobile-text {
      // this is how we center text of multi lines , Vertical Center Multi Lines of Text with Flexbox
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 200px;
      max-width: 550px;
      span {
        font-family: "Roboto";
        font-size: 30px;
        text-align: center;
      }
    }
    .delete-workout-mobile-btns {
      display: flex;
      gap: 15px;
      .delete-workout-mobile-yes-btn {
        @include btn_styles();
        background: rgba(28, 151, 79, 0.6);

        span {
          @include span_styles();
        }
      }
      .delete-workout-mobile-no-btn {
        @include btn_styles();
        background: rgba(151, 28, 44, 0.6);

        span {
          @include span_styles();
        }
      }
    }
  }
  @media screen and (min-width: 0px) and (max-width: 400px) {
    .delete-workout-mobile-inner {
      .delete-workout-mobile-text {
        span {
          margin-top: 40px;
        }
      }
      .delete-workout-mobile-btns {
        margin-top: 30px;
      }
    }
  }
}
.mobile-control-modal {
  justify-content: center;
  align-items: center;
  display: flex;
  &.ant-modal {
    .ant-modal-content {
      width: 95%;
      height: 400px;
    }
  }
  @media screen and (min-width: 400px) and (max-width: 600px) {
    &.ant-modal {
      .ant-modal-content {
        width: 80%;
        height: 400px;
      }
    }
  }
  @media screen and (min-width: 0px) and (max-width: 400px) {
    &.ant-modal {
      .ant-modal-content {
        width: 70%;
        height: 400px;
      }
    }
  }
  @media screen and (min-width: 0px) and (max-width: 500px) {
    &.ant-modal {
      .ant-modal-content {
        .ant-modal-close {
          .ant-modal-close-x {
            img {
              width: 25px !important;
              height: 25px !important;
              position: relative;
              left: 5px !important;
            }
          }
        }
      }
    }
  }
}
.share-mobile--modal {
  &.ant-modal {
    .ant-modal-content {
      width: 80%;
      height: 250px;
      margin-left: 50px;
      margin-top: 50px;
    }
  }
  .share-mobile-modal-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Mulish";
      font-size: 25px;
    }
    img {
      width: 200px;
      height: 150px;
    }
  }
  @media screen and (min-width: 400px) and (max-width: 600px) {
    @include d_flex();
    &.ant-modal {
      position: relative;
      right: 20px;

      .ant-modal-content {
        width: 60%;
        height: 300px;
      }
    }
  }
  @media screen and (min-width: 0px) and (max-width: 400px) {
    @include d_flex();
    &.ant-modal {
      position: relative;
      right: 20px;

      .ant-modal-content {
        width: 50%;
        height: 300px;
      }
    }
  }
  @media screen and (min-width: 0px) and (max-width: 500px) {
    @include d_flex();
    &.ant-modal {
      position: relative;
      right: 20px;
      .ant-modal-content {
        .ant-modal-close {
          .ant-modal-close-x {
            img {
              width: 25px !important;
              height: 25px !important;
              position: relative;
              left: 5px !important;
            }
          }
        }
      }
    }
  }
}
.mobile-control-modal,
.share-mobile--modal {
  &.ant-modal {
    .ant-modal-content {
      .ant-modal-close {
        .ant-modal-close-x {
          position: relative;
          right: 0px;
          bottom: 30px;
        }
      }
    }
  }
}
.edit-modal-wrapper {
  &.ant-modal {
    .ant-modal-content {
      position: relative;
      bottom: 50px;
      height: 480px !important;
    }
  }
}
.share-mobile-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
}
