/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: white;
  margin: 0;
  font-family: "Poppins";
  overflow-x: hidden;
  /* padding-left: 20px; */
}
