@import "@fontsource/nanum-gothic";
@import "@fontsource/reem-kufi";

@mixin input_text_styles {
  font-family: "open Sans";
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 22px;
  color: rgb(78, 76, 76);
}

.hamstring-modal-content-container {
  padding: 20px 150px;
  background-color: #91dcc72f;
  overflow-y: scroll;
  height: 800px;

  &::-webkit-scrollbar {
    width: 10px;
    margin-left: 5px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(211, 211, 211, 0.425);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #1aac8360;
  }
  &::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: #1aac838b;
  }

  .hamstring-modal-intro {
    div.chevron_en_bas {
      img.chevron_en_bas {
        position: relative;
        bottom: -20px;
        right: 70px;
        transform: rotateZ(125deg);
      }
    }
    // font-family: 'Reem Kufi';
    p {
      color: rgb(52, 51, 51);
      line-height: 200%;
      font-family: "Nanum Gothic";
      &::first-letter {
        font-weight: bolder;
        font-size: 40px;
      }
    }
    div.chevron_en_bas_no2 {
      img.chevron_en_bas_bottom {
        position: relative;
        bottom: 70px;
        left: 950px;
        transform: rotateZ(-70deg);
      }
    }
  }

  div.h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    h2 {
      color: #001f3f;
    }
  }
  .hamstring-modal-instructions {
    ul {
      .hamstring-instr-stack {
        span.nbr-span {
          font-family: "Reem Kufi";
          font-size: 55px;
        }
      }
      li {
        padding: 50px;
        list-style: none;
        margin-bottom: 20px;
        span {
          color: #5f6368;
        }
      }
    }
  }
}

span.ant-modal-close-x {
  transform: scale(2.5);
  margin-right: 80px;
  margin-top: 35px;
  height: 0px;
  width: 0px;
  line-height: 0px;
}

.gray-border {
  border: 2px solid black;
}
.borderNone {
  border: 0px;
}

.exos-thumbnails-modal-wrapper {
  .ant-modal-content {
    padding: 25px 0px;
    border-radius: 5px;
    .ant-modal-header {
      background: rgba(211, 211, 211, 0.19);
    }

    .ant-modal-body {
      background-color: rgba(211, 211, 211, 0.19);
      padding: 0px;

      .exos-thumbnails-modal-wrapper-img {
        margin-bottom: 25px;
      }
      .exos-thumbnails-modal-wrapper-btn {
        &:hover {
          border: 1px solid red;
          transition: 0.1s ease;
        }
        span {
          font-family: "open Sans";
          letter-spacing: 2px;
        }
      }
      .exos-thumbnails-modal-youtube-btn {
        display: flex;
        justify-content: center;
        align-self: center;

        &:hover {
          background: none;
          transform: scale(1.05);
        }
        img {
        }
      }
    }
  }
}

.edit-modal {
  .edit-modal-reps-load-wrapper {
    display: flex;
    gap: 15px;
    .edit-modal-block1 {
      flex: 50%;
      padding: 50px 0;
      border: 1px solid rgba(128, 0, 128, 0.501);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      &:hover {
        background: rgba(211, 211, 211, 0.1);
      }
      .edit-modal-label1 {
        color: rgb(52, 51, 51);
        line-height: 200%;
        font-family: "Nanum Gothic";
        font-size: 22px;
      }
      .edit-modal-load-input {
        height: 40px;
        width: 50%;
        @include input_text_styles();
      }
    }
    .edit-modal-block2 {
      &:hover {
        background: rgba(211, 211, 211, 0.1);
      }
      flex: 50%;
      padding: 50px 0;
      border: 1px solid rgba(128, 0, 128, 0.501);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      .edit-modal-label2 {
        color: rgb(52, 51, 51);
        line-height: 200%;
        font-family: "Nanum Gothic";
        font-size: 22px;
      }
      .edit-modal-reps-input {
        width: 50%;
        height: 40px;
        @include input_text_styles();
      }
    }
  }
  .edit-modal-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    .edit-modal-title-input {
      height: 40px;
      width: 50%;
      & > * {
        @include input_text_styles();
        // border-bottom: 0.5px solid rgba(128, 128, 128, 0.332);
      }
      &:hover,
      &:focus {
        height: 60px;
        width: 60%;
      }
    }
  }
  .edit-modal-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .edit-modal-save-btn,
    .edit-modal-cancel-btn {
      margin-top: 20px;
      background: #1aac83;
      width: 120px;
      height: 50px;
      span {
        color: white;
        line-height: 200%;
        font-family: "Nanum Gothic";
        font-size: 22px;
      }
    }
    .edit-modal-cancel-btn {
      background: gray;
    }
  }
  // when the width of the screen is less than 700px
  &.edit-modal-mobile {
    .edit-modal-reps-load-wrapper {
      .edit-modal-block1 {
        .edit-modal-label1 {
          color: rgb(95, 26, 26);
          font-family: "Karla";
          font-weight: bold;
          font-size: 25px;
          text-transform: capitalize;
        }
        .edit-modal-load-input {
          height: 50px;
          width: 70%;
          font-size: 28px;
        }
      }
      .edit-modal-block2 {
        .edit-modal-label2 {
          color: rgb(95, 26, 26);
          font-family: "Karla";
          font-weight: bold;
          font-size: 25px;
          text-transform: capitalize;
        }
        .edit-modal-reps-input {
          height: 50px;
          width: 70%;
          font-size: 28px;
        }
      }
    }
    .edit-modal-title-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      .edit-modal-title-input {
        height: 60px;
        width: 70%;
        & > * {
          font-size: 22px !important;
        }

        &:focus {
          height: 60px;
          width: 60%;
        }
      }
    }
    .edit-modal-btns {
      margin: 25px 0;
      .edit-modal-save-btn,
      .edit-modal-cancel-btn {
        height: fit-content;
        span {
          color: white;
          line-height: 200%;
          font-family: "Mulish";
          font-size: 26px;
        }
      }
    }
    .ant-input-suffix {
      // close icon
      transform: scale(2.2);
      position: relative;
      right: 5px;
    }
  }
}

//
.ant-edit-modal {
  .ant-modal-content {
    .ant-modal-header {
      .ant-modal-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ant-edit-modal-close-btn {
          border: none;
          padding: 0;
          width: 50px;
          img {
            width: 50px !important;
            height: 50px !important;
          }
        }
        span {
          font-family: "open Sans";
          letter-spacing: 2px;
          font-weight: bold;
          font-size: 22px;
          color: grey;
          border-bottom: 0.5px solid rgba(128, 128, 128, 0.332);
        }
      }
    }

    .ant-modal-body {
    }
  }
}
